---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/Line/central/Status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Line,LineStatus
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '60.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - Line_StatusByIdsByPathIdsQueryDetail
      X-Api:
      - Line
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Line, Tfl.Api.Presentation.Entities","id":"central","name":"Central","modeName":"tube","disruptions":[],"created":"2024-10-29T15:24:06.033Z","modified":"2024-10-29T15:24:06.033Z","lineStatuses":[{"$type":"Tfl.Api.Presentation.Entities.LineStatus,
        Tfl.Api.Presentation.Entities","id":0,"statusSeverity":10,"statusSeverityDescription":"Good
        Service","created":"0001-01-01T00:00:00","validityPeriods":[]}],"routeSections":[],"serviceTypes":[{"$type":"Tfl.Api.Presentation.Entities.LineServiceTypeInfo,
        Tfl.Api.Presentation.Entities","name":"Regular","uri":"/Line/Route?ids=Central&serviceTypes=Regular"},{"$type":"Tfl.Api.Presentation.Entities.LineServiceTypeInfo,
        Tfl.Api.Presentation.Entities","name":"Night","uri":"/Line/Route?ids=Central&serviceTypes=Night"}],"crowding":{"$type":"Tfl.Api.Presentation.Entities.Crowding,
        Tfl.Api.Presentation.Entities"}}]'
  recorded_at: Thu, 31 Oct 2024 08:54:08 GMT
recorded_with: VCR 6.3.1
