---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/Line/central/Status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Line,LineStatus
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '60.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - Line_StatusByIdsByPathIdsQueryDetail
      X-Api:
      - Line
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Line, Tfl.Api.Presentation.Entities","id":"central","name":"Central","modeName":"tube","disruptions":[],"created":"2024-10-29T15:24:06.033Z","modified":"2024-10-29T15:24:06.033Z","lineStatuses":[{"$type":"Tfl.Api.Presentation.Entities.LineStatus,
        Tfl.Api.Presentation.Entities","id":0,"lineId":"central","statusSeverity":9,"statusSeverityDescription":"Minor
        Delays","reason":"Central Line: Minor delays between Leytonstone and Hainault
        via Newbury Park while we fix a signal failure at Barkingside. GOOD SERVICE
        on the rest of the line. ","created":"0001-01-01T00:00:00","validityPeriods":[{"$type":"Tfl.Api.Presentation.Entities.ValidityPeriod,
        Tfl.Api.Presentation.Entities","fromDate":"2024-10-30T11:24:36Z","toDate":"2024-10-31T01:29:00Z","isNow":true}],"disruption":{"$type":"Tfl.Api.Presentation.Entities.Disruption,
        Tfl.Api.Presentation.Entities","category":"RealTime","categoryDescription":"RealTime","description":"Central
        Line: Minor delays between Leytonstone and Hainault via Newbury Park while
        we fix a signal failure at Barkingside. GOOD SERVICE on the rest of the line.
        ","affectedRoutes":[],"affectedStops":[],"closureText":"minorDelays"}}],"routeSections":[],"serviceTypes":[{"$type":"Tfl.Api.Presentation.Entities.LineServiceTypeInfo,
        Tfl.Api.Presentation.Entities","name":"Regular","uri":"/Line/Route?ids=Central&serviceTypes=Regular"},{"$type":"Tfl.Api.Presentation.Entities.LineServiceTypeInfo,
        Tfl.Api.Presentation.Entities","name":"Night","uri":"/Line/Route?ids=Central&serviceTypes=Night"}],"crowding":{"$type":"Tfl.Api.Presentation.Entities.Crowding,
        Tfl.Api.Presentation.Entities"}}]'
  recorded_at: Wed, 30 Oct 2024 12:18:27 GMT
recorded_with: VCR 6.3.1
