---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/StopPoint/940GZZLUSTD/arrivals
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Prediction
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '60.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - StopPoint_ArrivalsByPathId
      X-Api:
      - StopPoint
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities","id":"-1364140861","operationType":1,"vehicleId":"013","naptanId":"940GZZLUSTD","stationName":"Stratford
        Underground Station","lineId":"central","lineName":"Central","platformName":"Westbound
        - Platform 3","direction":"inbound","bearing":"","destinationNaptanId":"940GZZLUWRP","destinationName":"West
        Ruislip Underground Station","timestamp":"2024-10-31T08:54:06.1921592Z","timeToStation":19,"currentLocation":"At
        Stratford","towards":"West Ruislip","expectedArrival":"2024-10-31T08:54:25Z","timeToLive":"2024-10-31T08:54:25Z","modeName":"tube","timing":{"$type":"Tfl.Api.Presentation.Entities.PredictionTiming,
        Tfl.Api.Presentation.Entities","countdownServerAdjustment":"00:00:00","source":"0001-01-01T00:00:00","insert":"0001-01-01T00:00:00","read":"2024-10-31T08:54:04.347Z","sent":"2024-10-31T08:54:06Z","received":"0001-01-01T00:00:00"}},{"$type":"Tfl.Api.Presentation.Entities.Prediction,
        Tfl.Api.Presentation.Entities","id":"1885880750","operationType":1,"vehicleId":"014","naptanId":"940GZZLUSTD","stationName":"Stratford
        Underground Station","lineId":"central","lineName":"Central","platformName":"Westbound
        - Platform 3","direction":"inbound","bearing":"","destinationNaptanId":"940GZZLUWRP","destinationName":"West
        Ruislip Underground Station","timestamp":"2024-10-31T08:54:06[...]
