---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/StopPoint/?lat=51.5029&lon=-0.1134&radius=400&stopTypes=NaptanMetroStation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - StopPoint
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '86400.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - StopPoint_GetByGeoPointByQueryLatQueryLonQueryStopTypesQueryRadiusQueryUseSt
      X-Api:
      - StopPoint
    body:
      encoding: ASCII-8BIT
      string: '{"$type":"Tfl.Api.Presentation.Entities.StopPointsResponse, Tfl.Api.Presentation.Entities","centrePoint":[51.502,-0.113],"stopPoints":[{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","naptanId":"940GZZLUWLO","modes":["tube"],"icsCode":"1000254","stopType":"NaptanMetroStation","stationNaptan":"940GZZLUWLO","hubNaptanCode":"HUBWAT","lines":[{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"bakerloo","name":"Bakerloo","uri":"/Line/bakerloo","type":"Line","crowding":{"$type":"Tfl.Api.Presentation.Entities.Crowding,
        Tfl.Api.Presentation.Entities"},"routeType":"Unknown","status":"Unknown"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"jubilee","name":"Jubilee","uri":"/Line/jubilee","type":"Line","crowding":{"$type":"Tfl.Api.Presentation.Entities.Crowding,
        Tfl.Api.Presentation.Entities"},"routeType":"Unknown","status":"Unknown"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"northern","name":"Northern","uri":"/Line/northern","type":"Line","crowding":{"$type":"Tfl.Api.Presentation.Entities.Crowding,
        Tfl.Api.Presentation.Entities"},"routeType":"Unknown","status":"Unknown"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"waterloo-city","name":"Waterloo & City","uri":"/Line/waterloo-city","type":"Line","crowding":{"$type":"Tfl.Api.Presentation.Entities.Crowding,
        Tfl.Api.Presentation.Entities"},"routeType":"Unknown","status":"Unknown"}],"lineGroup":[{"$type":"Tfl.Api.Presentation.Entities.LineGroup,
        Tfl.Api.Presentation.Entities","stationAtcoCode":"940GZZLUWLO","lineIdentifier":["bakerloo"]},{"$type":"Tfl.Api.Presentation.Entities.LineGroup,
        Tfl.Api.Presentation.Entities","stationAtcoCode":"940GZZLUWLO","lineIdentifier":["jubilee"]},{"$type":"Tfl.Api.Presentation.Entities.LineGroup,
        Tfl.Api.Presentation.Entities","stationAtcoCode":"940GZZLUWLO","lineIdentifier":["northern"]},{"$type":"Tfl.Api.Presentation.Entities.LineGroup,
        Tfl.Api.Presentation.Entities","stationAtcoCode":"940GZZLUWLO","lineIdentifier":["waterloo-city"]}],"lineModeGroups":[{"$type":"Tfl.Api.Presentation.Entities.LineModeGroup,
        Tfl.Api.Presentation.Entities","modeName":"tube","lineIdentifier":["bakerloo","jubilee","northern","waterloo-city"]}],"status":true,"id":"940GZZLUWLO","commonName":"Waterloo
        Underground Station","distance":190.01407578397709,"placeType":"StopPoint","additionalProperties":[{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"ServiceInfo","key":"Night","sourceSystemKey":"TransXchangeETL","value":"yes"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Facility","key":"Waiting Room","sourceSystemKey":"StaticObjects","value":"no"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Facility","key":"Car park","sourceSystemKey":"StaticObjects","value":"no"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"[...]
