---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/StopPoint/?lat=51.5412&lon=-0.0033&radius=400&stopTypes=NaptanMetroStation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - StopPoint
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '86400.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - StopPoint_GetByGeoPointByQueryLatQueryLonQueryStopTypesQueryRadiusQueryUseSt
      X-Api:
      - StopPoint
    body:
      encoding: ASCII-8BIT
      string: '{"$type":"Tfl.Api.Presentation.Entities.StopPointsResponse, Tfl.Api.Presentation.Entities","centrePoint":[51.541,-0.003],"stopPoints":[{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","naptanId":"940GZZDLSTD","modes":["dlr"],"icsCode":"1000226","stopType":"NaptanMetroStation","stationNaptan":"940GZZDLSTD","hubNaptanCode":"HUBSRA","lines":[{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"dlr","name":"DLR","uri":"/Line/dlr","type":"Line","crowding":{"$type":"Tfl.Api.Presentation.Entities.Crowding,
        Tfl.Api.Presentation.Entities"},"routeType":"Unknown","status":"Unknown"}],"lineGroup":[{"$type":"Tfl.Api.Presentation.Entities.LineGroup,
        Tfl.Api.Presentation.Entities","stationAtcoCode":"940GZZDLSTD","lineIdentifier":["dlr"]}],"lineModeGroups":[{"$type":"Tfl.Api.Presentation.Entities.LineModeGroup,
        Tfl.Api.Presentation.Entities","modeName":"dlr","lineIdentifier":["dlr"]}],"status":true,"id":"940GZZDLSTD","commonName":"Stratford
        DLR Station","distance":86.665980801783533,"placeType":"StopPoint","additionalProperties":[{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Facility","key":"Bridge","sourceSystemKey":"StaticObjects","value":"no"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Facility","key":"Cash Machines","sourceSystemKey":"StaticObjects","value":"4"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Facility","key":"Gates","sourceSystemKey":"StaticObjects","value":"23"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Addr[...]
